<h1>Fill Out This Form</h1>

<form action="/byrne" method="POST">
    BOSS SERIAL: <input type="text" name="boss_serial">
    <br/>
    <input type="submit">
</form>
<form action="http://127.0.0.1:8080/upgrade">
    <input type="submit" value="Generate Upgrade bin file" />
</form>

