<h1>GENERATE upgrade bin</h1>

<form action="/upgrade" method="POST">
    BOSS SERIAL: <input type="text" name="boss_serial">
    <br/>
    FW VERSION: <input type="text" name="fw_version">
    <br/>
    <input type="submit">
</form>

<form action="http://127.0.0.1:8080/byrne">
    <input type="submit" value="Generate BOSS keys" />
</form>
